---

---


<div class="hero ">
  <div class="hero-content p-8">
    <h2 class="text-3xl font-bold md:text-4xl pb-4">Bienvenido</h2>
    <h1 class="text-white text-7xl font-bold mb-4 text-center">Vida en Fe</h1>
    <p class="text-white text-lg text-center py-4">"Yo soy lo que la biblia dice que yo soy, <br>
      Yo soy una bendición, en mi se quiebra toda maldición<br/> y me convierto en generador de bendiciones"</p>

      <div class="redes-sociales flex justify-center items-center mx-auto py-5 md:p-10 h-auto w-40 md:w-auto md:h-auto">
        <a class="px-2" href="https://www.facebook.com/Vidaenfesl" target="_blank"><img src="./img/faceb.svg" alt="Facebook"></a>
        <a href="https://instagram.com/vida.en.fe/" target="_blank"><img src="./img/insta.png" alt="Instagram"></a>
        <a class="px-2"href="https://www.youtube.com/c/Fundaci%C3%B3nEsperanzadeVidaJesucristo" target="_blank"><img src="./img/youtube.svg" alt="YouTube"></a>
    </div>

  </div>
</div>
  
  <style>
    @font-face {
      font-family: Roboto;
      src: url("/fonts/RobotoCondensed-Bold.ttf") format(truetype);
      font-style: normal;
      font-weight: bold;
    }


    .hero {
      background-image: linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url('../img/SL.jpg'); /* Ruta de la imagen de fondo */
  
      background-size: cover;
      background-position: center;
      height: 100vh; /* Altura del hero */
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
    background-attachment: fixed;
    }
  

    
    .hero-content {
      text-align: center;
      padding: 20px; /* Ajusta el relleno según sea necesario */ /* Sombra difuminada con fondo oscuro */
    }
  
    /* Estilos opcionales para el título y el párrafo */
    .hero h1 {
      font-family: "Roboto", serif ;
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    }

    .hero h2{
      text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    }
  
    .hero p {
      font-size: 1.5rem;
      background-color: rgba(0, 0, 0, 0.23);
      text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    }
  </style>
