---

---
<div id="Horarios" class="Horarios md:h-screen text-center block mx-auto p-8">
    <h1 class="text-center text-4xl font-bold p-10">
        HORARIOS DE NUESTRAS REUNIONES
    </h1>
    <div class="pt-10">
        <p class="text-3xl font-semibold">
            <i class="fas fa-clock mr-2"></i> Domingo 9:30hs
            <p class="text-3xl font-semibold">Jueves 20:30hs</p>
        </p>
        <p class="text-xl mt-7 font-medium">
            <i class="fas fa-map-marker-alt mr-2"></i> Avenida Lafinur 654
        </p>
    </div>

    
    <div class="map p-6">
        <iframe class="my-8 w-full h-72 md:aspect-w-16 md:h-96"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2060.5512477104207!2d-66.34488416793886!3d-33.305466320868334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d43959b2d3bfd7%3A0xf5d997eb931b9275!2sIEP%20San%20Luis%20Fundaci%C3%B3n%20Esperanza%20de%20vida...%20Jesucristo!5e0!3m2!1ses-419!2sar!4v1708988409892!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<style>
.Horarios {
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)
        ),
        url("../img/fon-modified.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-shadow: 3px 1px 2px rgba(0,0,0,0.6);
}


i.fas {
    font-size: 1.5rem; 
    vertical-align: middle;
}
</style>
