---
---
<section id="Somos">
<div class="Somos justify-center bg-gray-700 p-8 md:h-full y mx-auto flex flex-col items-center">
    <h1 class="text-center font-bold text-4xl md:text-5xl py-4 m-3">Somos</h1>
    <h2 class="text-white text-center text-xl md:text-3xl px-5 mx-3 md:mx-20 leading-8 md:leading-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
</div>
</section>

<style>
@media (min-width: 768px) { 
    

    .Somos{
    
    
    height: 100%;
}
}



</style>