---
import Imagenes from './Imagenes';
---

<section id="Somos" class="md:h-full bg-gray-700">
  <div class="Somos p-8 mx-auto flex flex-col items-center">
    <h1 class="text-center font-bold text-4xl md:text-5xl py-4 my-10">Somos</h1>
    <h2 class="text-white text-center text-xl md:text-3xl px-5 mb-10 md:mx-20 leading-8 md:leading-10">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </h2>
  </div>
  <div class="p-8">
  <Imagenes client:only="react" />
</div>
</section>
