<section id="Templos" class=" bg-slate-100 md:h-svh">
<div>
    <h1 class=" font-semibold text-3xl text-center py-8 text-gray-500">Templos en San Luis</h1>
    <p class=" font-semibold text-xl text-center p-5 text-gray-500">Nuestra misión es poder llevar el evangelio a toda persona en la tierra, <br>
    Por eso en San Luis hemos construido templos a lo largo de estos años que forman parte de nosotros. <br>
A continuación te dejamos las ubicaciones de cada uno de ellos</p>
</div>


<iframe class=" w-full h-50 md:h-5/6 px-3 py-4" src="https://www.google.com/maps/d/u/0/embed?mid=1SF6yHAqqrqCwonQuqtNBt34JtpfZX6I&ehbc=2E312F" width="800" height="600"></iframe>

</section>

